@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.top-bar-contact {
          width: 500px;
          height: 3px;
          background-color: #00EEFF;
        }

        .bottom-piece-contact {
          width: 100px;
          height: 11px;
          background-color: #00EEFF;
          position: absolute;
          bottom: -8px;
          left: 0;
          clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
        }

        .bottom-piece-contact::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-left: 7px solid #00EEFF;
          transform: rotate(180deg);
        }

        .top-bar {
          width: 80px;
          height: 2px;
          background-color: #00EEFF;
        }

        .bottom-piece {
          width: 55px;
          height: 7px;
          background-color: #00EEFF;
          position: absolute;
          bottom: -6px;
          left: 0;
          clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
        }

        .bottom-piece::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-left: 7px solid #00EEFF;
          transform: rotate(180deg);
        }


        

          @keyframes boxSweep {
            0% {
              clip-path: inset(0 100% 0 0);
              opacity: 1;
              animation-timing-function: cubic-bezier(0.45, 0, 1, 1); 
            }
            25% {
              clip-path: inset(0 0 0 0);
              opacity: 1;
            }
            25.0001% {
              clip-path: inset(0 0 0 0);
              opacity: 1;
              animation-timing-function: cubic-bezier(0.45, 0, 1, 1); 
            }
            50% {
              clip-path: inset(0 0 0 100%);
              opacity: 1;
            }
            95% {
              clip-path: inset(0 0 0 100%);
              opacity: 1;
            }
            100% {
              clip-path: inset(0 0 0 100%);
              opacity: 1;
            }
          }

          @keyframes skillText {
            0% { opacity: 1; }
            90% { opacity: 1; }
            95% { opacity: 0.4; }
            100% { opacity: 0; }
          }

          .animate-boxSweep {
            animation: boxSweep 5.0s linear infinite;
          }

          .animate-skillText {
            animation: skillText 5.0s linear infinite;
          }